<!-- notices for Devise auth gem -->
<% unless notice == nil && alert == nil %>
  <div class="wb-alerts">
    <% unless notice == nil %>
      <p class="wb-notice"><%= notice %></p>
    <% end %>
    <% unless alert == nil %>
      <p class="wb-alert"><%= alert %></p>
    <% end %>
  </div>
<% end -%>
