  <ul class="runs">
    <li>
      <h4>
        <%= link_to new_run_path do %><i class="fa fa-plus"></i><span> add run</span><% end %>
      </h4>
    </li> 
      <% @runs.each do |run| %>
      <li>
      <span class="summary"><%= link_to run.hits.count, edit_run_path(run) %></span>
        <p><%= link_to run.name, edit_run_path(run) %>
          <%= link_to run_path(run) do %>
          <% end %>
        </p>
      </li>
      <% end %>
  </ul>
