.wb-container {
  @extend .container;
}

.wb-page-content {
  // put all the content inside a row instead of adding it to every template
  @extend .row;
}
.page {
  // @extend .col-md-12;
  // padding: 1em 2.5em;
}

table {
  @extend .table, .table-hover, .table-responsive;
}

ul.runs, ul.show {
  @extend .list-group;

  h1, h2, h3, h4 {
    @extend .list-group-item-heading;
  }
  li {
    @extend .list-group-item;
  }

  p {
    @extend .list-group-item-text;
  }

  .summary{
    @extend .badge;
  }
}

form {
  @extend .form-horizontal;
  padding: 1em 2.5em;
  .field  {
    @extend .form-group;
    // @extend .col-md-12;
  }

  // label {
  //   @extend .col-md-2;
  // }

  input, textarea, select {
    @extend .form-control;
    .select {
      width: auto;
    }
  }

  input[type=checkbox] {
    display: inline;
  }
}

.wb-alerts {
  @extend .row;
  p {
    @extend .alert;
  }
  p.wb-alert {
    @extend .alert-warning;
  }
  p.wb-notice {
    @extend .alert-info;
  }
}